.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}

.card {
  width: 32%;
  background-color: rgba(35, 35, 35, 0.80) !important;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-projectType {
  background-color: #d03b35;
  color: #fff;
  width: 90%;
  text-align: center;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color .2s linear;
  display: inline-block;
  font-size: 14px;


  &:hover {
    color: #fff;
    background-color: #d3251f;
  }
}

.card-title{
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  margin: 15px 0 !important;
}

.card-description {
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.card-btn {
  background-color: #d03b35;
  width: 90%;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px 0;
  transition: background-color .2s linear;
  font-size: 20px;

  &:hover {
    color: #fff;
    background-color: #d3251f;
  }
}






@media (max-width: 991px) {
  .card {
    width: 45%;
  }

}

@media (max-width: 767px) {
  .card {
    width: 49%;
  }

}

@media (max-width: 550px) {
  .card {
    width: 100%;
    margin-bottom: 30px;
  }


}